<h1>Editing Dog Listing</h1>

<%= render 'form', dog_listing: @dog_listing %>

<%= link_to 'Show', @dog_listing, class: 'btn btn-primary' %>
<%= link_to 'Back', dog_listings_path, class: 'btn btn-primary' %>
